<div class="container" [style.justify-content]="!isLoading ? '' : 'center'">
    <mat-spinner *ngIf="isLoading" color="warn"></mat-spinner>
    <div *ngIf="!isLoading" style="width: 100%;">
        <h1 style="padding: 0 1rem;">Messages!</h1>
        <mat-card *ngFor="let message of messages" style="margin: 10px;">
            <mat-card-header>
                <mat-card-title>{{ message.name }}</mat-card-title>
                <mat-card-subtitle>{{ message.email }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                {{ message.message }}
            </mat-card-content>
            <mat-card-actions align="start">
                <h5 style="margin-left: 0.5rem;">Posted on: {{ message.date | date: 'dd/MM/YY' }}</h5>
                <span style="flex: 1 1 auto;"></span>
                <button #likeBtn (click)="changeScore(message, 'like', dislikeBtn, likeBtn)" mat-mini-fab
                    color="primary"><mat-icon>thumb_up_alt</mat-icon>
                    <h4 *ngIf="likeBtn.disabled">{{message.likes}}</h4>
                </button>
                <span style="margin: 0 0.5rem;"></span>
                <button #dislikeBtn (click)="changeScore(message, 'dislike', likeBtn, dislikeBtn)" mat-mini-fab
                    color="warn"><mat-icon>thumb_down_alt</mat-icon>
                    <h4 *ngIf="dislikeBtn.disabled">{{message.dislikes}}</h4>
                </button>
            </mat-card-actions>
        </mat-card>
        <div>
            <mat-paginator [length]="totalMessages" [pageIndex]="pageIndex" [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 25]" aria-label="Select page" showFirstLastButtons="true"
                (page)="onPageChange($event)">
            </mat-paginator>
        </div>
    </div>
</div>